header.App-header
    display: flex
    align-items: center
    height: 9vh
    box-shadow: 0 1vh 1vh -1px rgba(0, 0, 0, 0.1)

#logo
    left: 3vw
    position: relative
    height: 3.3vh
    margin-right: 5vw

.heading
    font-size: 3vh
    