header.App-header
    display: grid
    align-items: center
    height: 9vh
    padding: 0 2vw
    box-shadow: 0 1vh 1vh -1px rgba(0, 0, 0, 0.1)
    grid-template-columns: 2fr 7fr
    grid-gap: 1vw

    color: #868686

#logo
    position: relative
    height: 4vh 
    margin: 1vh

.heading
    font-size: 2.4vh
    justify-self: start
    white-space: nowrap
    margin: 1vh
    text-decoration: none
    color: #868686

.headers
    display: flex
    justify-content: flex-end
    align-items: center
    gap: 2vw
    margin-right: 2vw

.wrap
    display: flex